*{
    background-color: black;
    color: #fff;
}
.eater-regular {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}

  

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

.story {
    padding: 10%;
  
}

header, footer {
    background-color: #f18514;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
}




/* Add more styles based on your creativity and design preferences */
